body {
    margin: 0;
}
.top {
    width: 1728px;
    height: 222px;
    background: #9B6F6F;
}
.middle {
display: flex;

}
.one {
    width: 616px;
    height: 209px;
    top: 222px;
    background: #D9D9D9;

}
.two {
    width: 602px;
    height: 209px;
    top: 431px;
    background: #AA9898;

}
.three {
    width: 602px;
    height: 241px;
    top: 640px;
    background: #C5BBBB;

}
.grey {
    width: 601px;
    height: 662px;
    top: 219px;
    left: 586px;
    background: #8A8484;

}
.white {
    width: 541px;
    height: 662px;
    top: 222px;
    left: 1187px;
    background: #C0B3B3;

}
.footer {
    width: 1728px;
    height: 236px;
    top: 881px;
    background: #524B4B;


}