body {
    margin: 0;
}
header {
    width: 100vw;
    height: 34vh;
    background-color: #3D6FB4;
    border:  2px solid black;
    margin: 5px 5px 5px 5px;
}
section {
    display: flex;
    margin: 5px 5px 5px 5px;
}
.first {
    width: 60vw;
    height: 100vh;
    background-color: #3D6FB4;
    border:  2px solid black;
    margin: 5px 5px 5px 5px;
}
.second {
    width: 40vw;
    height: 100vh;
    background-color: #3D6FB4;
    border:  2px solid black;
    margin: 5px 5px 5px 5px;
}