@media screen and (max-width: 380px){
 header {
    width: 100vw;
     height: 20vh;
 }
section {
    display: flex;
    flex-direction: column;
}
.first {
    width: 100vw;
    height: 60vh;
}
.second {
    width: 100vw;
    height: 20vh;
}
}